body {
  font-family: Arial, sans-serif;
  background: #fff7ec;
  margin: 0;
}

header {
  background: #f5a623;
  padding: 15px;
  text-align: center;
  color: white;
}

header input {
  margin-top: 10px;
  padding: 8px;
  width: 80%;
  border-radius: 5px;
  border: none;
}

.food-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  background: #f5a623;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.cart {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.filters {
  text-align: center;
  margin: 20px;
}

.filters button {
  margin: 5px;
  padding: 8px 12px;
  background: #f5a623;
  color: white;
  border: none;
  border-radius: 5px;
}

.cart li button {
  margin: 0 5px;
  padding: 2px 6px;
  border-radius: 6px;
  border: none;
  background: #f5a623;
  color: white;
}
.top-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.top-controls input,
.top-controls select {
  padding: 8px;
  border-radius: 5px;
  border: none;
}